.view{
    width: 1000px;
    margin: auto;
    border-bottom: 1px solid #ddd;
}
.view-header{
    background-color: #eee;
    border-top: 2px solid black;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.view-info{
    display: flex;
    margin-top: 10px;
}
.view-info p:not(:first-child)::before{
    content: ' | ';
    color: #aaa;
    margin: 0 20px;
}
.view-contents{
    padding: 20px;
}
.view-contents ol,
.view-contents li{
    list-style-position: inside;
}